{% extends "films/index.html" %}
{% block page %}
<div class="container">
    {% if film.photo %}
    <div class="img_film">
        <img class="img_size" src="{{ film.photo.url }}">
    </div>
    {% else %}
        <p>NO FOTO__________</p>
    {% endif %}
    <div style="font-size: 20px;">
        <h1>{{ film.title }}</h1>
        <p>Год <a href="{% url 'year_films' pk=film.year%}">{{ film.year }}</a></p>
        <p><em>Страна</em>
            {% for c in film.country.all %}
            <a href="{% url 'country_films' pk=c.pk %}">{{ c.title }}</a>
            {% endfor %}
        </p>
        <p><em>Жанр</em>
            {% for g in film.genre.all %}
            {{ g.title }}
            {% endfor %}
        </p>
        <p><em>Рейтинг на кинопоиске</em> <b>{{ film.rating }}</b></p>
    </div>
</div>

    <div style="display: block; width: 1000px; margin-left: auto; margin-right: auto; font-size: 20px;">
        <p>{{ film.content }}</p>
    </div>

    <div style="display: flex; align-items: center; flex-direction: column; padding-top: 50px;font-size: 20px;">
        <p><a href="#" onclick="history.back();">Назад</a></p>
        <br>
        <p><a href="{% url 'add_basket' film_pk=film.pk %}">Добавить в избранное</a></p>
        <br>
        <p><a href="{% url 'show_basket' %}">Перейти в избранное</a></p>
    </div>
{% if request.user.is_authenticated %}
<div style="margin-left: 20px; font-size: 18px;">
    <p style="font-size: 22px;">Комментарии ({{ comment.count }})</p>
    <br>
    {% for i in comment %}
    <p>{{ i.published_date }}</p>
    <p>Автор: {{ i.author }}</p>
    <p>Комментарий: {{ i }}</p>
    <br>
    {% if request.user == i.author %}
    <p><a href="{% url 'delete_comment' film_pk=film.pk comment_pk=i.pk %}">Удалить комментарий</a></p>
    {% endif %}
    <br>
    {% endfor %}
</div>

<div style="margin-top: 20px; margin-left: 20px;">
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }} <br>
    <input style="font-size: 18px; background-color: yellow;" type="submit" value="Добавить">
        <br><br>
    </form>
</div>
{% else %}
<p style="margin-left: 20px; font-size: 20px; font-weight: bold;">Чтобы просматривать и добавлять комментарии - <a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
{% endif %}
{% endblock %}
