<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'films/css/films.css' %}">
    <title>CREATE FILM</title>
</head>
<body>
    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Добавить">
        </form>
        <br>
        <p><a href="{% url 'index' %}">Назад</a></p>
    </div>

</body>
</html>
