<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 200px;">
        <div>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            <h1>Регистрация</h1>
        </div>
        <div class="form">
            <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
        <a href="{% url 'index' %}">Назад</a>
    </div>
</body>
</html>

